body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #161212;
    background-image: url(pexels-pixabay-260352.jpg);
    background-size: 1700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #e13737;

}

header {

    color: #e13737;
    padding: 20px;
    margin-right: auto;
    padding-right: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav button {
    margin: 10px;
    padding: 10px 20px;
    background: #540ee0;
    color: rgb(237, 225, 225);
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

h2 {
    color: #e13737;
}

figcaption {
    color: #e13737;
}

nav button:hover {
    background: #d32828;
}

.start-screen {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("pexels-victorfreitas-703016.jpg") center/cover no-repeat;
    z-index: 10;
    transition: opacity .5s;
}

.start-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background: var(--main);
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.start-btn:hover {
    background: #ff3333;
}

.section {
    display: none;
    margin: 100px;
    max-width: 800px;
}

.section img {
    width: 10%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid rgb(227, 215, 215);
    transition: all ease-in-out;
    text: red;
}

.section img:hover {
    width: 25%;
    height: 25%;
}

.section {
    margin: auto;
    padding: auto;

    #calorie-calculator {
        margin: 40px auto;
        padding: 20px;
        max-width: 500px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input,
    select {
        padding: 8px;
        margin: 5px;
        width: 80%;
    }

    button.calculate {
        background: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        margin-top: 10px;
        cursor: pointer;
    }

    button.calculate:hover {
        background: #218838;
    }
}
